@{
    ViewData["Title"] = "Home Page";    
}

<div class="text-center">
        <h1 class="display-4">ToDo</h1>
        <p>Você foi desconectado!<a class="nav-link text-blue" asp-area="Identity" asp-page="/Account/Login">Clique aqui para entrar novamente</a></p>
</div>
