@model IEnumerable<ToDoProjeto.ViewModels.Tarefas.TarefaViewModel>

@{
	ViewData["Title"] = "Tarefas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tarefas</title>
</head>
<body>	
	<h1>Tarefas</h1>
</body>